.main-header {
    display: flex;
    justify-content: center;
    width: 600px;
    margin: 0 auto 50px;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.main-header:hover {
    -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0,0,0,0.2);
}
.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wi-day-sunny {
    color: #ff7730;
    font-size: 60px;
    margin-bottom: 30px;
}